<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Scan device videos (MX Player-style library). Android 13+ uses READ_MEDIA_VIDEO;
         older versions use READ_EXTERNAL_STORAGE. -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <application
        android:allowBackup="false"
        android:label="Xama"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Xama"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.Xama.Player"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
            android:name=".ui.ReelsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
